*.o
*.a
/libplis/plis.pc
/libplis/compile_commands.json
/libplis/test_library
/libplis/.sconsign.dblite
.deps
/libplis/Makefile
autom4te.cache
/Makefile
/compile
/config.h
/config.log
/config.status
Makefile
docs/html
docs/latex
/libtool
/plis.pc
/stamp-h1
*.obj
*.exe
*~
/libplis/.libs/
*.la
*.lo
/plis-config
